@font-face {
    font-family: 'FoundersGrotesk';
    src:    url('/WebFonts/FoundersGroteskWeb-Regular.eot');
    src:    url('WebFonts/FoundersGroteskWeb-Regular.eot?#iefix') format('embedded-opentype'),
            url('WebFonts/FoundersGroteskWeb-Regular.woff') format('woff'),
            url('WebFonts/FoundersGroteskWeb-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk-Italic';
    src:    url('/WebFonts/FoundersGroteskWeb-RegularItalic.eot');
    src:    url('WebFonts/FoundersGroteskWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
            url('WebFonts/FoundersGroteskWeb-RegularItalic.woff') format('woff'),
            url('WebFonts/FoundersGroteskWeb-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
